/* dtc -@ -I dts -O dtb -o out.dtbo raspberry-overlay.dts */

/dts-v1/;
/plugin/;


&{/} {

    my-onewire {
		compatible = "my-onewire";
		status = "okay";
		label = "Test";
		my_value = <12>;
		onewire-gpio = <&gpio 18 0 >; 
		onewirein-gpio = <&gpio 14 0 >;
	};
};

