/dts-v1/;
/plugin/;


&{/} {
    my-gpio-led {
		compatible = "myvendor,my-gpio-led";
		label = "my-gpio-device"; 

		status-led {
			default_state = "off";
			status = "ok";
			gpios = <&gpio 2 0>
		};
	};
};
